#form { float: left; width: 20%;}
#contacts { float: right; width: 80%;}

label { display: block;}

.contact-container { width:400px; padding:10px; border:1px solid #aaa; margin:0 10px 10px 0; float:left; font-family:sans-serif; color:#333; background-color:#eee; }
.contact-container div { font-size:14px; }
.contact-container div.address { margin-bottom:24px; }
.contact-container div.title { margin-bottom:3px; }
.contact-container .name { font-size: 22px; margin:0; font-weight:normal; }
.contact-container .type { float:right; font-size:14px; line-height:24px; font-weight:normal; }
.contact-container img { border-width:1px; border-style:solid; border-color:#fff; border-right-color:#aaa; border-bottom-color:#aaa; margin-right:10px; float:left; }
.contact-container a { color:#333;}
.contact-container dl { margin:0; float:left; font-size:14px; }
.contact-container dt, .contact-container dd { margin:0; float:left; }
.contact-container dt { width:50px; clear:left; }